.container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url('../public/images/Mlp_Hero_Br_&_Rola_Desktop_v2.jpg');
  background-position: center;
  background-size: 100%;

  position: absolute;
  top: 0;
 
}

.principal {
  
 height: 100%;

 display: flex;
  
 position: relative;
  
}

.homebutton {
  position: absolute;
  background-color: red;
  top: 15px;
  background-color: rgba(0,0,0,.6);
  padding: 8px 16px;
  right: 30px;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
  transition: 0.2s ease;
  letter-spacing: 1.5px;
}

.homebutton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.homebutton:active {
  transform: scale(0.98);
  
}

.LogoWrapper {
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  margin-top: 7.5em;

}

.Logo {
  width: 13%;
}

.LogoTitle {
  color: white;
  font-size: 2.3em;
  font-weight: 500;

  margin-top: 0.5em;

}

.pricewrapper {
  display: flex;

  
}

.Prices1 {
  margin-left: 3em;
  flex: 1;
  

  max-width: 30%;
  
}

.Prices1 h2{
  color: white;
  margin-top: 1em;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 2em;
}



.Prices1 span {

  font-size: 10px;
  font-weight: 100;
  color: gray;

}

.Prices1 .BuyButton {
  text-align: center;
  display: inline-block;
  padding: 16.5px 14px;
  background-color: #0063e5;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  max-width: 340px;
  min-width: auto;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.2s ease;

}

.Prices1 .BuyButton:active {
  transform: scale(0.98);
}

.Prices2 {
  flex: 1;
  
  max-width: 30%;

  
}



